* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  font-family: "Oswald", sans-serif;
  font-family: "Quantico", sans-serif;
}

.btn-main {
  background-color: #343a40;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}
.btn-main a {
  color: white;
  text-decoration: none;
}
.btn-main:hover {
  background-color: white;
  color: #343a40;
}
.btn-main:hover a {
  color: #343a40;
}

.btn-sect {
  background-color: white;
  color: #343a40;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}
.btn-sect a {
  color: #343a40;
  text-decoration: none;
}
.btn-sect:hover {
  background-color: #343a40;
  color: white;
}
.btn-sect:hover a {
  color: white;
  font-weight: bold;
}

nav {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: none;
}
nav .header-img {
  width: 180px;
}

.menu ul {
  list-style: none;
  display: flex;
  justify-content: none;
  align-items: none;
  gap: 2rem;
}
.menu ul li a {
  text-decoration: none;
  color: #ffffff;
  padding: 1.5rem;
}

nav #toggle, nav label {
  display: none;
}

.nav-bar-sections a:hover {
  color: grey;
}

footer .footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: none;
}
footer .footer-container .footer-text {
  color: white;
}
footer .footer-container .footer-icons {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  margin-bottom: -50px;
}
footer .footer-container .footer-icons a i {
  color: white;
}

body {
  background-color: black;
}

div {
  margin-top: 2rem;
}

.main-img {
  max-width: 100%;
  height: auto;
}

span {
  color: whitesmoke;
  text-align: center;
}

h1 {
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 90px;
}

h2 {
  color: #ccc;
  text-align: center;
  margin-top: 20px;
}

.cont-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-clot {
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: space-around;
  align-items: center;
  row-gap: 20px;
}
.container-clot .img-cl {
  max-width: 70%;
  height: auto;
  padding: 0.5em;
}

.ber-img-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: center;
  align-items: center;
  grid-template-areas: "item-1 item-2 item-3" "item-4 item-5 item-6";
}
.ber-img-container .item-1 {
  grid-area: item-1;
}
.ber-img-container .item-2 {
  grid-area: item-2;
}
.ber-img-container .item-3 {
  grid-area: item-3;
}
.ber-img-container .item-4 {
  grid-area: item-4;
}
.ber-img-container .item-5 {
  grid-area: item-5;
}
.ber-img-container .item-6 {
  grid-area: item-6;
}
.ber-img-container .item-1, .ber-img-container .item-2, .ber-img-container .item-3, .ber-img-container .item-4, .ber-img-container .item-5, .ber-img-container .item-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ber-img-container .img-item {
  max-width: 70%;
  height: auto;
  padding: 0.5em;
}

.catalogo {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  color: gray;
  text-align: center;
  text-decoration: none;
}
.catalogo:hover {
  color: white;
}

.jeans-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.jeans-img-container .img-jeans {
  max-width: 70%;
  height: auto;
  padding: 0.5em;
}

@media (max-width: 1024px) {
  header {
    font-size: 17px;
  }
  header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  header nav .header-img {
    width: 100px;
  }
  header nav .nav-bar-sections {
    list-style: none;
    display: flex;
    gap: 1.5rem;
  }
  header nav .nav-bar-sections li a {
    text-decoration: none;
    color: #ffffff;
    padding: 1.5rem;
  }
  header nav #toggle, header nav label {
    display: none;
  }
  .nav-bar-sections a:hover {
    color: grey;
  }
}

/*# sourceMappingURL=style.css.map */
