

.css-nav{
    background-color: transparent !important;
    .css-ul{
        align-items: center;
        gap: 2rem;
        li a{
            &:hover{
                color:grey !important;
            }
        }
    }
    .navbar-toggler-icon.active {
        background-color: white !important;
      }
    
}

  .logo-main{
    max-width:50% !important;
  }