h2{
    color:#ccc;
    text-align: center;
    margin-top:20px;
}

.cont-img{
   @include flex-card;
}


.container-clot{
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: space-around;
    align-items:center; 
    row-gap: 20px;
  }
  

  
.ber-img-container{
    @include grid;
    .item-1, .item-2, .item-3, .item-4, .item-5, .item-6{
      @include flex-card;
    }
  
}

.jeans-img-container{
  display: flex;
  justify-content: center;
  align-items: center;
  
}    

.img-jeans, .img-cl, .img-item, .img-zapas{
    max-width: 70%;
    height: auto;
    padding: 0.5em;
}

.zapas-img-container{
  @include grid;
  .item-1, .item-2, .item-3, .item-4, .item-5, .item-6{
    @include flex-card;
  }
  
}
    
      
.catalogo{
    display: block;
    margin-top:20px;
    margin-bottom:20px;
    color:gray;
    text-align: center;
    text-decoration: none;
    &:hover{
        color:white;
  }
    }