
body{
    background-color: black;
}
 .container-fluid{
  margin-top:1rem;
 }
        
    .main-img {
        max-width: 100%;
        height: auto;
    }
span{
    color:whitesmoke;
    text-align: center;
    margin:2rem;
    }
        
        
  h1{
    color:white;
    font-family: 'Oswald', sans-serif;
    font-size: 90px;
    }

    