.box-container{
    @include flex(space-between, none, 1rem);
    margin-top: 70px;
    .box-1, .box-2, .box-3{
        background-color: rgb(231, 229, 229);
        flex-basis: 30%;
        border-radius: 20px;
        padding: 20px;
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        h3{
            font-size: 25px;
        }
        ul{
        list-style: none; 
            li{
                margin: 5px 0;
            }
            a{
                text-decoration: none;
                color: black;
                &:hover{
                    color:grey;
                }
            }
       }
    }
    
}


