.box-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    max-height: 800px;
    margin-top: 70px;
    p{
        text-align: center;
    }
    ul{
        margin:0;
        padding:0;
        li{
            text-align: center;
            list-style: none;
            a{
                text-decoration: none;
                color:black;
                &:hover{
                    color:grey;
                }
        
            }
        }
    }

    .box-1,
    .box-2,
    .box-3 {
        background-color: rgb(231, 229, 229);
        flex-basis: 30%;
        border-radius: 20px;
        padding: 20px;
        margin: 10px;

        h3 {
            text-align: center;
            font-size: 25px;

        }
        i {
            display: block; 
            text-align: center;
            font-size: 30px;
            margin-bottom: 10px;
        }
    }

    .zoom-box {
        transition: transform 0.2s ease-in-out;
    }

    .zoom-box:hover {
        transform: scale(1.1);
    }

}