@media only screen and (min-width: 320px) and (max-width: 375px){
    //navbar
    .logo-main{
        width:200px;
    }

/////////////////////////////////////////////INICIO
    h1{
        font-size: 50px;
    }

/////////////////////////////////////////////CLOTHING
    .container-clot{
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: space-around;
        align-items:center; 
        row-gap: 20px;
      }
      
    .ber-img-container{
    @include grid-mediaquery;
    @include flex-card;
    }

    .jeans-img-container{
        @include grid-mediaquery;
        @include flex-card;
        }
    


    .cont-img{
        @include flex-card;
     }

    .btn-sect{
        background-color:#343a40;
        color:white;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        a{
            color:white;
        }
    }
/////////////////////////////////////////////FOOTWEAR
.zapas-img-container{
    @include grid-mediaquery;
    .item-1, .item-2, .item-3, .item-4, .item-5, .item-6{
        @include flex-mediaquery;
      }
    }
    
  }

    

    