@media (max-width:1024px){
    header{
        font-size:17px;
        nav{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
          .header-img{
             width: 100px;
           }
           .nav-bar-sections{
                list-style: none;
                display: flex;
                gap: 1.5rem;
                li a{
                   text-decoration: none;
                    color: #ffffff;
                    padding: 1.5rem;
                }
            }
            #toggle, label{
                display:none;
            }
        }
    }
      .nav-bar-sections a:hover {
          color:grey;
        }
    .footer-container{
                .footer-icons{
                    display:flex;
                    flex-direction: row;
                    gap: 1.5rem;
                    margin-bottom: -200px;
                    i{
                        font-size: 20px;
                        margin: 0 10px;
                    }
                }
            }
    }

