@media only screen and (min-width: 1024px) and (max-width: 1440px){
    footer{
        .footer-container{
            @include flex(center, center,none);
            margin-bottom: -100px;
            .footer-text{
                color:white;
            }
            .footer-icons{
                display:flex;
                flex-direction: row;
                gap:1.5rem;
                a i{
                    color:white;
                }
            }
        }
    }
}